<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">



<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Hello Flask</h1>
    <div class="table-responsive">
        <table border="1"  class="table table-condensed">
               <tr>
        <th>ProductID</th>
        <th>Product Name</th>
        <th>Quantity</th>
                    <th>Price</th>
      </tr>
        {% for row in data1 %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
             <td>{{ row[3] }}</td>
            </tr>
        {% endfor %}
            </table>
    </div>
</body>
</html>
